@font-face {
    font-family: odin;
    src: url(VeganStylePersonalUse-5Y58.ttf);
}

html,body{
    height:100%;
     min-height:100%; 
}

body {
    background-color: black;
    padding: 5% 0%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100%;
    background-color: white;
}

#backgroundPic {
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    display: flex;
    flex-direction: column;
    min-width: 33%;
    gap: 40%;
}

#backgroundTitle {
    display: flex;
    padding-top: 20%;
    font-size: 7vw;
    width: 100%;
    justify-content: center;
    font-family: odin;
    height: fit-content
}

#titleCover {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3, footer {
    color: black;
    background-color: grey;
    opacity: .5;
    text-align: center;
    width: 100%;
}


#formDiv {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    background-color: rgb(218, 214, 214);
    border-top: 2px solid grey;
    
}

h2 {
    font-size: 4vh;
}

h4 {
    font-size: 3vh;
}

#questionnaire {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3vw
}

#rightList, #leftList {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

fieldset {
    border: none;
}

#infoHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    background-color: azure;
}

#submit {
    display: flex;
    padding-top: 10vh
}

button {
    background-color: lightgreen;
    border-radius: 10%;
    width: 100%;
    height: 4vh;
    font-size: 150%;
    font-weight: bold;
}

input:active {
    border: 5px solid lightblue
}
